#ifdef _WIN32
LANGUAGE 9, 1 // LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif

#ifndef _MSC_VER
2 24 "YMDithers.manifest"
#endif

1 VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "YMDithers\0"
            VALUE "FileDescription", "YMDithers After Effects Plugin\0"
            VALUE "FileVersion", "1.0.0.1\0"
            VALUE "InternalName", "YMDithers\0"
            VALUE "LegalCopyright", "Copyright (C) 2026 YMDithers\0"
            VALUE "OriginalFilename", "YMDithers.aex\0"
            VALUE "ProductName", "YMDithers\0"
            VALUE "ProductVersion", "1.0.0.1\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
